@font-face {
    font-family: 'Maiden Orange';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/kJE1BuIX7AUmhi2V4m08kb1XvOFXCA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.Frightmare {
    font-family: "Frightmare" !important;
    font-size: 55px;
}
footer {
    background-image: url('../images/background/footer.png');
    width: 100%;
    height: 200px;
    font-family: "Maiden Orange";
    color: #fff;
    font-size: 24px;
    text-align: center;
    position: relative;
}
footer .cop {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -50px;
}